  
   *{
    box-sizing: border-box;
    }


   body{
  	font-family: 'Roboto' sans-serif;
  	height: 180vh;
      }

    h1,p{
        color: #F0FFFF;
       
    }

    .conteiner{
        background-color: #121212;
        width: 700px;
        color: #fffff;
        margin: auto;
        padding: 50px;
        border: 5px solid red;
        border-radius: 10px;
        position: static;

   }

/* 
> 1.Por padrao temos o static ou seja estatico.
> 2.Relative elemento é posicionado em relaçao a sua posiçao normal.
  (top, botton, left, right)
> 3.Absolute
> 4.Fixed
> 5.Sticky
*/


    .area{
      position: relative;
      top: 150px;
      left: 50px;

      border: 5px solid green;  
    }